# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=

# Email Sending Configuration
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID_CLIENT=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID_OWNER=


# Availability Request Rate Limit
NEXT_PUBLIC_AVAILABILITY_RATE_LIMIT_HOUR=
NEXT_PUBLIC_AVAILABILITY_RATE_LIMIT_NUMBER=

# Crisp Configuration
NEXT_PUBLIC_CRISP_WEBSITE_ID=
